@using PhoneBook.Models
@model PBFilterModel

@{
    ViewBag.Title = "Телефонный справочник";
    var grid = new WebGrid();
    grid.Bind(Model.Subscribers);
}

<h3>Абоненты</h3>

@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <div class="row">
        <div class="form-horizontal">
            <div class="col-lg-3">
                @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control", @placeholder = "Номер телефона" })
            </div>
            <div class="col-lg-3">
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder = "ФИО / Наименование" })
            </div>
            <div class="col-lg-6">
                <button type="submit" class="btn btn-success" data-toggle="tooltip" title="Найти">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
                <a href="@Url.Action("Index", "Home")" class="btn btn-success" data-toggle="tooltip" title="Очистить">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                </a>
                <a href="@Url.Action("Create", "Home")" class="btn btn-success pull-right" data-toggle="tooltip" title="Добавить">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>
    </div>
    <div style="padding-top:17px;">
        @grid.GetHtml(
        tableStyle: "table table-striped table-hover",
        columns: grid.Columns(
            grid.Column("PhoneNumber", "Номер телефона"),
            grid.Column("Name", "ФИО / Наименование"),
            grid.Column("Address", "Адрес"),
            grid.Column(header: "Тип", format: (item) => Html.DisplayFor(modelItem => ((item as WebGridRow).Value as Subscriber).SubscriberType)),
            grid.Column(header: "Действия", format:
            @<div class="btn-group">
                <a href="@Url.Action("Details", "Home", new { id = item.Id })" class="btn btn-default btn-sm" data-toggle="tooltip" title="Подробнее">
                    <span class="glyphicon glyphicon-search"></span>
                </a>
                <a href="@Url.Action("Edit", "Home", new { id = item.Id })" class="btn btn-default btn-sm" data-toggle="tooltip" title="Редактировать">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a href="@Url.Action("Delete", "Home", new { id = item.Id })" class="btn btn-default btn-sm" data-toggle="tooltip" title="Удалить">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </div>)
        )
)
    </div>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip({ container: 'body' });
        });
    </script>
}